<style>
div.padding{
 padding-right: 30px;
  padding-left: 30px;
		}
</style>

<div data-ng-controller="adminController">
<div class="row">
							<div class="col-md-9">
							<h3>&nbsp;&nbsp; &nbsp;<span style="color:blue">List of Applied Users</span></h3>
							</div>
							<div class="col-md-2">
									<br>
									<select class="form-control" id="sel1" data-ng-model="status" required>
                                  <option value="">Status</option>
     							  <option value="Open">Open</option>
     							  <option value="In-Progress">In-Progress</option>
     							  <option value="Rejected">Rejected</option>
     							  <option value="Verified">Verified</option>
     							  <option value="Closed">Closed</option>
         				</select>
         			
								
							</div>
						</div>
	
			<br>
		<div class="padding">
		<table class="table table-hover" border="2" >
			<thead>
  				<tr class="active">
  					<th>Si.No</th>
    				
    				<th>Name</th>  
    				<th>Service Name</th>             
   					<th>Status</th>
   					<th></th>
   					
       			</tr>
			</thead>
			<tbody>
             		
      <tr data-ng-repeat="userDetails in subdata=(data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) |filter:status:status.status)" >   
             					 
             		          	 <td></td>
                    			 <td> {{ userDetails.fullName }} </td>
                    			 <td> {{ userDetails.serviceType.serviceName }} </td>
                    			 <td> {{ userDetails.status.status }} </td>
                    			 
								 <td>
									 	<button type="button" class="btn btn-success" data-ng-click="editUser(userDetails.id)" ng-if="userDetails.status.status !== 'Closed'" >View</button>
								 </td>
             				 </tr>
            </tbody> 		 
		</table>
		</div>
		
    <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination>
    
</div>
