
<style>
    .error-message {
      color: red;
    }
    input.ng-dirty.ng-invalid {
      border-color: red;
    }
  </style>

<div data-ng-controller="detailsController">
	<div class="container">
		 <form name="myForm" id="loginForm" class="pure-form login-form" data-ng-submit="submitForm(myForm.$valid)">
				<h3><span style="color:blue">Select the Required service</span></h3>
		<div class="row">
			<div class="col-lg-7"> 	
				<table class="table  table-bordered">
					<thead>
 					 	<tr >
   					 		<th><h4><span style="color:green"><B>Si.No</B></span></h4></th>
  					  		<th><h4><span style="color:green"><B>Name of the verification Certificate</B></span></h4></th>             
  					  		<th><h4><span style="color:green"><B>Amount in Rupees</B></span></h4></th>
       				  		<th><h4><span style="color:green"><B>Select appropriate service sought</B></span></h4></th>
						</tr>
					</thead>
					<tbody>
							<!--   <tr data-ng-repeat="serviceTable in dataTable ">  
								<td> {{ serviceTable.serviceId }} </td>
								<td> {{ serviceTable.serviceName }} </td>
								<td> {{ serviceTable. amount }} </td>
								<td><input type="checkbox" ng-model="service" ng-true-value="serviceTable.serviceId"></td>
							</tr>  -->
							
					 <tr class="success">
   							 <td>{{dataTable.serviceId}}</td>
   							 <td>Police Verification Certificate for Job Purpose</td>         
  							 <td>300</td>
      						 <td><input type="checkbox" ng-model="service" ng-true-value="1" ></td>
						</tr>
						
  					<tr class="danger">
    						<td>2</td>
    						<td>Police Verification Certificate for Marriage Alliances</td>        
   							<td>500</td>
							<td><input type="checkbox"  ng-model="service" ng-true-value="2" ></td>
 						 </tr>
 						 
  						<tr class="info">
    						<td>3</td>
    						<td>Police Verification Certificate for NCC Students</td>        
    						<td>50</td>
							<td><input type="checkbox"  ng-model="service" ng-true-value="3" ></td>
 						</tr>
 						
						<tr class="active">
    						<td>4</td>
    						<td>Police Verification Certificate for Addviewusers Verification</td>             
    						<td>500</td>
							<td><input type="checkbox"  ng-model="service" ng-true-value="4" ></td>
  						</tr>
  						
						<tr class="warning">
   						 	<td>5</td>
    						<td>Police Verification Certificate for Passport</td>            
    						<td>800</td>
							<td><input type="checkbox"  ng-model="service" ng-true-value="5" ></td> 
  						</tr>  
					  </tbody>
				</table>
			</div>
		</div>
	

	
		<h3><span style="color:blue">Please Enter Your Details</span></h3>
			
  				<div class="row">
  					<div class="col-lg-7">
   						<label for="Name"><span style="color:black">Name</span></label>
    						<input type="text" class="form-control" name="user_fullname" data-ng-model="fullName" ng-pattern="/^[a-zA-Z\s]*$/"  id="Name"  placeholder="Name" required> 
    					<span ng-show="myForm.user_fullname.$error.pattern"><span style="color:red">Invalid....type only alphabets</span></span>
  					</div>
  				</div>
   
  		  		<div class="row">
 		 			<div class="col-lg-7">
     		 			<label for="Father/Husband Name"><span style="color:black">Father/Husband Name</span></label>
     		 				<input type="text"  name="user_fathername" class="form-control" id="F/HName" data-ng-model="fatherName" ng-pattern="/^[a-zA-Z\s]*$/" placeholder="Father/Husband Name" required>
     		 			<span ng-show="myForm.user_fathername.$error.pattern"><span style="color:red">Invalid....type only alphabets</span></span>
     	  			</div>
  		  		</div>

				<div class="row">
  					<div class="col-lg-7">
    		  			<label for="Gender"><span style="color:black">Gender</span></label><br>
    						<select class="form-control"  name="user_gender" id="sel1"  data-ng-model="gender" required>
   			  					<option value="">Gender</option>
   			  					<option>Male</option>
  			 					<option>Female</option>
							</select>
      				</div>
    			</div>
   
  		 		<div class="row">
  					<div class="col-lg-7">
  						<label for="Nationality"><span style="color:black">Nationality</span></label><br>
  						<input type="text" class="form-control" id="nationality" ng-model="country"  placeholder="Enter Country" typeahead="country in data"   ng-readonly={{viewMode}}  typeahead-editable="false" required>
  		  			
						<!-- <input type="text" class="form-control"  name="roadType" placeholder="Enter road type" typeahead="roadType as roadType.name for roadType in roadTypes | filter:filterByNameStartWith($viewValue)  | limitTo:8" typeahead-editable="false"ng-model="roadSimple1Type['roadType']"  ng-readonly={{viewMode}}required >
 -->                           
                    </div>
   		 		</div>
   		 		
   		 		
   		 		
   		 	<!-- 	 data-provide="typeahead" data-items="5" data-source='["India","Indonesia","Iran","Iraq","Japan","Pakistan","China","Sri-lanka","koria"]'
 -->
   				<div class="row">
  					<div class="col-lg-7">
      					<label for="Date"><span style="color:black">DOB</span></label>
     						 <input type="date"  class="form-control" id="pickdate" data-ng-model="dateofbirth" data-date-options="dateOptions" data-custom-datepicker  placeholder="Date Of Birth"/>
  					</div>
  				</div>
  	
   				<div class="row">
   					<div class="col-lg-7">
     					<label for="Contact No"><span style="color:black">Contact No</span></label>
     						<input type="text" class="form-control" name="number" ng-model="number" ng-maxlength="10" ng-minlength="10" ng-pattern="/^\d{10}$/" placeholder="Contact No" required/>
    					<span ng-show="myForm.number.$error.pattern"><span style="color:red">Invalid..Enter 10 digit number</span></span>
     				</div>
   				</div> 

  				<div class="row">
   					<div class="col-lg-7">
    	  				<label for="Adviewusers"><span style="color:black">Address</span></label>
     	 				<input type="text" class="form-control" name="user_address" id="Addrs" data-ng-model="address" placeholder="Address" required>
    				</div>
    			</div><br>
    					
			
			
			
			<!-- FOR FILE UPLOADING -->
				<div class="row">
					<div class="col-sm-4">
       					<input type="file" data-ng-file-select data-ng-model="item.file" id="document"  data-uploader="uploader" multiple name="file" accept="application/pdf" class="form-control ng-pristine ng-valid"/>
    					<span style="color:black" ><span style="font-size:10px">Maximum file size: 10 MB</span></span>
					</div>&nbsp;&nbsp;
					<button class="btn btn-success"   data-ng-click="addItem(item.file)" type="button"> Add </button> <br> <br> <br>
				</div>
				
     			<div class="row">
					<div class="col-lg-7">
						<table class="table">
      						<thead>
             			 		<th>File name</th>
        					</thead>      
              				
              				<tbody>
             				 	<tr data-ng-repeat="itemObj in items">             
                    			 	<td><span style="color:black">{{itemObj.file[0].name}}</span></td>
                    			 	<td>
                        				<input type="button" class="btn btn-danger" data-ng-click="removeItem(itemObj)" id="remove" value='Remove'>	
									</td>
             				 	</tr>
      						</tbody>
						</table>   
					</div> 
      			</div>   
              	<button id="open" class="btn btn-success"  ng-disabled="myForm.$error.pattern "  ><span style="color:#FFFFFF">Register</span></button>         
			</form><br>
	</div>
     
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  >
    	<div class="modal-dialog" role="document">
     		<div class="modal-content">
            	<div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      						 <form id="loginForm" class="pure-form login-form" >
       						<h2><span style="color:blue">Details Entered by You</span></h2>
 			
				 		 			<label for="name"> FULL NAME</label>
				 						<span style="padding-left:60px">
				 							<B>-&nbsp;	{{viewuser.fullName		 |  uppercase}} </B>
				 						</span><br>
				 		
				 			
				 					<label for="name"> FATHER'S NAME </label>
				 		 				<span style="padding-left:19px">
				 							<B>-&nbsp; {{viewuser.fatherName 	 |  uppercase}}</B>
				 						</span><br>
				 		
				 	 				<label>	GENDER 	</label>
				 	  					<span style="padding-left:71px">
				 							<B>-&nbsp;	{{viewuser.gender		 |  uppercase}} </B>
				 					</span><br>
				 		
			 						<label>	NATIONALITY	</label>
			 							<span style="padding-left:40px">
				 							<B>-&nbsp;	{{viewuser.nationality	 |  uppercase}}</B>
				 						</span><br>
				 			
				 					<label>	CONTACT NO	</label>
				 	 					<span style="padding-left:40px">
				 							<B>-&nbsp;	{{viewuser.contactNumber  |  uppercase}} </B>
				 						</span><br>
				 	
				 					<label>	ADDRESS	</label>
				 						 <span style="padding-left:65px">
				 							<B>-&nbsp;	{{viewuser.address		 |  uppercase}} </B>
				 						</span><br>
				 		
				 					<label>	DOB		</label>
				 						 <span style="padding-left:100px">
				 							<B>-&nbsp;	{{viewuser.dateofbirth | date : 'MM-dd-yyyy'}} </B>
				 						</span><br>
			
							

       						<h5 class="modal-title" id="myModalLabel">Registration Successful</h5>
                            <h4><span style="color:#0000FF">That's it!!!. Please wait for 2 days to process your request</span></h4>
                            </form>
             	</div>
                     	
                         
                                 <!--  <button type="button" class="btn btn-default" onClick="location.href='#/homepage.html'" data-dismiss="modal"><span style="color:#006600">Close</span></button> -->
                                <button type="button" id="close" class="btn btn-danger" data-ng-click="Logout()" data-dismiss="modal"><span style="color:#006600">Log-out</span></button> 
                          
             </div>
    	</div>
	</div>
       			
       			<!-- showing modal for selceting two documents -->
       			 <div class="modal fade" id="myModalErr1" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel">
    				<div class="modal-dialog">
    				 <!-- Modal content-->
      					<div class="modal-content">
        					<div class="modal-header">
          						<h4 class="modal-title"><span style="color:red">Error</span></h4>
       		 				</div>
        					<div class="modal-body">
          						<h3><span style="color:green">Please select two documents...</span></h3>
        					</div>
        					<div class="modal-footer">
          						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        					</div>
      					</div>
      				</div>
      			</div>
      			
      			 <!--  showing modal for open file before adding -->
      			 <div class="modal fade" id="myModalErr2" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel">
    				<div class="modal-dialog">
    				 <!-- Modal content-->
      					<div class="modal-content">
        					<div class="modal-header">
          						<h4 class="modal-title"><span style="color:red">Error</span></h4>
       		 				</div>
        					<div class="modal-body">
          						<h3><span style="color:green">Please open a file before adding...</span></h3>
        					</div>
        					<div class="modal-footer">
          						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        					</div>
      					</div>
      				</div>
      			</div>
      			
      			<!--  Confirmation before saving user details -->
      			<div class="modal fade" id="saveDetails" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel">
    				<div class="modal-dialog">
    				 <!-- Modal content-->
      					<div class="modal-content">
        					<div class="modal-header">
          						<h4 class="modal-title"><span style="color:red">Do you want to save details...!!!</span></h4>
       		 				</div>
        					<div class="modal-body">
          						<button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="submit()">Save</button>
          						<button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="editDetails()">Edit</button>
        					</div>
        				</div>
      				</div>
      			</div>
			
</div>  

			
			
	<!-- '<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js"></script>' -->

						
            		
									
					
                



