 <style>
  table, th, td {
    border: 1px solid black;
} 
.modal-dialog {
  width: 300px;
} 
</style> 
  
<div data-ng-controller="detailsController">
	<div class="container">
		<form name="myForm" id="loginForm" class="pure-form login-form" data-ng-submit="submitForm(myForm.$valid)">
	
		<div class="row">
				<div class="col-lg-6">  
					<h3><span style="color:blue">Select Required Service</span></h3>
					
					<table class="table">
						<thead>
							<tr>
					    		<th width="10" bgcolor="#FF8566">Si.No</th>
					    		<th width="270" bgcolor="#FF8566">Name of the verification Certificate</th>             
					    		<th width="90" bgcolor="#FF8566">Amount in Rupees</th>
					        	<th  width="120" bgcolor="#FF8566">Select service sought</th>
					  		</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="serviceTable in dataTable ">  
								<td> {{ serviceTable.serviceId }} </td>
								<td> {{ serviceTable.serviceName }} </td>
								<td> {{ serviceTable. amount }} </td>
								<td><input type="checkbox" ng-model="result.serviceId" ng-true-value="{{serviceTable.serviceId}}" ng-required="!result.serviceId"></td>
							</tr>  
					</tbody>
			</table>
			
			</div>
		</div>
	
				<h3><span style="color:blue">Please Enter Your Details</span></h3>
					
  						 <div class="row">
  							 <div class="col-lg-3">
   								 <label for="Name"><span style="color:black">Name</span></label>
    							 <input type="text" class="form-control" name="user_fullname" data-ng-model="fullName" ng-pattern="/^[a-zA-Z\s]*$/"  id="Name"  placeholder="Name" required> 
    							 <span ng-show="myForm.user_fullname.$error.pattern"><span style="color:red">Invalid...type only alphabets</span></span>
  							</div>
  						 
   						 
   						
  		  				
 		 					 <div class="col-lg-3">
     		 					<label for="Father/Husband Name"><span style="color:black">Father/Husband Name</span></label>
     		 					<input type="text"  name="user_fathername" class="form-control" id="F/HName" data-ng-model="fatherName" ng-pattern="/^[a-zA-Z_.-\s]*$/" placeholder="Father/Husband Name" required>
     		 					 <span ng-show="myForm.user_fathername.$error.pattern"><span style="color:red">Invalid..type only alphabets</span></span>
     	  					</div>
  		  				</div>
   						<br>
   						
  		 				<div class="row">
  							 <div class="col-lg-3">
    		  					<label for="Gender"><span style="color:black">Gender</span></label><br>
    							<label>
    							<input type="radio"  name="Male" id="sel1"  data-ng-model="gender" value="Male" ng-required="!gender"/>Male</label>
    							<label> &nbsp;&nbsp;&nbsp;&nbsp;
    							<input type="radio"  name="Female" id="sel1"  data-ng-model="gender" value="Female" ng-required="!gender" />Female</label>
   			  					
      						 </div>
    					
   
  		 				
  							 <div class="col-lg-3">
   		   						<label for="Nationality"><span style="color:black">Nationality</span></label>
								  							 
								<input type="text" class="form-control" ng-model="nationality" placeholder="Nationality" typeahead-editable="false" typeahead="country for country in countries | filter:$viewValue  | limitTo:10" required/>
						</div>
   		 				</div>
   		 				<br>

   					 <div class="row">
  						 <div class="col-lg-3">
      						<label for="Date"><span style="color:black">Date of Birth</span></label>
     						 <input type="date"  class="form-control" id="pickdate" data-ng-model="dateofbirth" data-date-options="dateOptions" data-custom-datepicker  placeholder="Date Of Birth" required/>
  						</div>
  					
  	
   						 
   							<div class="col-lg-3">
     						 	<label for="Contact No"><span style="color:black">Contact Number</span></label>
     						 	<input type="text" class="form-control" name="number" ng-model="number" ng-maxlength="10" ng-minlength="10" ng-pattern="/^\d{10}$/" placeholder="Enter your Contact Number" required/>
    							<span ng-show="myForm.number.$error.pattern"><span style="color:red">Invalid..Enter 10 digit number</span></span>
     						
   							</div>
   						</div>
   						<br> 

  						<div class="row">
   							<div class="col-lg-6">
    	  						<label for="Adress"><span style="color:black">Address</span></label>
     	 					    <input type="text" class="form-control" name="user_address" id="Addrs" data-ng-model="address" placeholder="Address" required>
    						</div>
    					</div>
    					<br>
    					<br>
			
			<!-- FOR FILE UPLOADING -->
						<label for="file"><span style="color:black">Please upload 2 supporting Documents</span></label>
						<div class="row"><br>
							<div class="col-sm-5">
       							<input type="file" data-ng-file-select data-ng-model="item.file" id="document"  data-uploader="uploader" multiple name="file" accept="application/pdf" class="form-control ng-pristine ng-valid"/>
    								<span style="color:black" ><span style="font-size:10px">Maximum file size: 10 MB</span></span>
							</div>
						&nbsp;&nbsp;

						<button class="btn btn-sm btn-warning"  data-ng-click="addItem(item.file)" type="button"> Upload </button> <br> <br> <br>
						</div>
     				  	<div class="row">
							<div class="col-lg-6">
								<div ng-if="showTable">
								<table class="table">
      								 <thead>
             			 				<tr><th colspan="2">File name</th></tr>
        							</thead>      
              					 <tbody>
             				 		<tr data-ng-repeat="itemObj in items">             
                    			 		<td><span style="color:black">{{itemObj.file[0].name}}</span></td>
                    			 		<td>
											<input type="button" class="btn btn-sm btn-danger" data-ng-click="removeItem(itemObj)" id="remove" value='Remove'>	
										</td>
             				 		</tr>
      							 </tbody>
								</table>   
								</div>
							</div> 
      					 </div>   
              			 <button id="open" class="btn btn-success"  ng-disabled="myForm.$error.pattern "  ><span style="color:#FFFFFF">Register</span></button>         
					</form><br>
		</div>
	<!-- showing modal for selceting two documents -->
       			 <div class="modal fade" id="myModalErr1" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel">
    				<div class="modal-dialog">
    				 <!-- Modal content-->
      					<div class="modal-content">
        					<div class="modal-header">
          						<h3 class="modal-title"><span style="color:red">Error</span></h3>
       		 				</div>
        					<div class="modal-body">
          						<h5><span style="color:black">Please select two documents...</span></h5>
        					</div>
        					<div class="modal-footer">
          						<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        					</div>
      					</div>
      				</div>
      			</div>
      			
      			 <!--  showing modal for open file before adding -->
      			 <div class="modal fade" id="myModalErr2" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel">
    				<div class="modal-dialog">
    				 <!-- Modal content-->
      					<div class="modal-content">
        					<div class="modal-header">
          						<h3 class="modal-title"><span style="color:red">Error</span></h3>
       		 				</div>
        					<div class="modal-body">
          						<h5><span style="color:black">Please open a file before adding..</span></h5>
        					</div>
        					<div class="modal-footer">
          						<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        					</div>
      					</div>
      				</div>
      			</div>
      			
      			<!--  Confirmation before saving user details -->
      			<div class="modal fade" id="saveDetails" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel">
    				<div class="modal-dialog">
    				 <!-- Modal content-->
      					<div class="modal-content">
        					<div class="modal-header">
          						<h4 class="modal-title"><span style="color:red">Do you want to save details...!!!</span></h4>
       		 				</div>
        					<div class="modal-body">
          						<button type="button" class="btn btn-success" data-dismiss="modal" data-ng-click="submit()">Save</button>
          						<button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="editDetails()">Edit</button>
        					</div>
        				</div>
      				</div>
      			</div>
</div>  
                


