<style>

.container-fluid { 
  					padding-left: 150px;
 					padding-right: 10px;
				 }
</style>


<div class="container-fluid"><br>
	<div class="col-lg-9">
		<div class="panel panel-default">
			<form id="loginForm" class="form-group" >
				<h3><span style="color:blue">Details Entered by the User</span></h3>
             
 		
				 <label>&nbsp;	Full Name</label>
				 	<span style="padding-left:63px">
				 		<B>-&nbsp;	{{data.fullName		 |  uppercase}} </B>
				 	</span><br>
				 		
				 			
				 <label>&nbsp;	FATHER'S NAME </label>
				 	<span style="padding-left:19px">
				 		<B>	-&nbsp; {{data.fatherName 	 |  uppercase}}</B>
				 </span><br>
				 
				 <label>&nbsp;	GENDER 	</label>
				 	 <span style="padding-left:71px">
				 		<B>-&nbsp;	{{data.gender		 |  uppercase}} </B>
				 	 </span><br>
				 	
			 	<label>&nbsp;		NATIONALITY	</label>
			 	 	<span style="padding-left:40px">
				 		<B>-&nbsp;	{{data.nationality	 |  uppercase}}</B>
				 	</span><br>
				 	
				 <label>&nbsp;	CONTACT NO</label>
				 	 <span style="padding-left:40px">
				 		<B>-&nbsp;	{{data.contactNumber  |  uppercase}} </B>
				 	 </span><br>
				 	
				 <label>&nbsp;	ADDRESS	</label>
				 	 <span style="padding-left:65px">
				 		<B>-&nbsp;	{{data.address		 |  uppercase}} </B>
				 	 </span><br>
				
				 <label>&nbsp;	DOB	</label>
				 	 <span style="padding-left:100px">
				 		<B>-&nbsp;	{{data.dateofbirth | date : 'MM-dd-yyyy'}} </B>
				 	 </span><br>
			</form>
		</div>
   </div>
</div>
    
    
<div class="container">  
	<table >
		<tbody>
  			<tr> 
  				<td  ng-repeat="pdfs in doc">
  		 			<iframe src="{{pdfs.docPath}}" width="400" height="500"></iframe>
  				</td>
  			</tr>
  		</tbody>
	</table>
  	<form id="loginForm" class="pure-form login-form" data-ng-submit="submit()" >
		<div class="row">
      		<div class="col-lg-3">
			    <label for="sel1"><span style="color:blue">Change the Status:</span></label> 
			    	<select class="form-control" ng-model="status" data-ng-options="obj.id as obj.name for obj in options" required>
			    		<option value="">Status</option>
			       </select>
			 </div>
    	</div><br>
		<button type="submit" class="btn btn-success" >Submit</button> &nbsp;&nbsp;&nbsp;
		<button type="button" class="btn btn-warning" data-ng-click="comeback()" >Back &nbsp;</button>
	</form>
</div>
