     
<div data-ng-controller="signUpController">       
	<div class="container-fluid" >
  		<h3><span style="color:blue">Online Police Verification and Clearance System</span></h3>
  
  			<form id="loginForm" class="pure-form login-form" data-ng-submit="onLogin()" >
    
      			<div class="row">
      				<div class="col-lg-5">
      					<label path="username" for="username"><span style="color:black">Username:</span></label>
      					<input type="text" name="userName" path="userName" class="form-control" id="username" data-ng-model="userName1" placeholder="Username" required />
      				</div>
      			</div>
 	    
    			<div class="row">
    				<div class="col-lg-5">
    					<label path="pwd" for="pwd"><span style="color:black">Password:</span></label>
    					<input type="password" name="password" path="password" class="form-control" id="pwd" data-ng-model="password1" placeholder="Enter password" required />
    				</div>
    			</div>
    			
				<div class="row">
				    <div class="col-lg-5">
    					<label for="sel1"><span style="color:black">Role:</span></label>
    					<select class="form-control" ng-model="role" data-ng-options="obj.id as obj.name for obj in options" required>
			    <option value="">Role</option>
			       </select>
    				</div>
    			</div>
				<br>	
    			<button type="submit" class="btn btn-info"><span style="color:#003300">&nbsp; Log-in &nbsp;&nbsp;</span></button> &nbsp;&nbsp;&nbsp;&nbsp;
     			<a href="#mail" data-toggle="modal" data-target="#urModal" >Forgot Password</a>
     			<br><br>
 			</form>  
 
			<button id="open" class="btn btn-warning" data-toggle="modal" data-target="#myModal"  ><span style="color:#003300">New User</span></button>
			<br><br>

			<div class="row">
				<div class="col-lg-5">
			<div class="alert alert-success" role="alert" ng-show = "submitted">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
    				<span class="sr-only">Close</span>
  				</button>
  				<strong>Success..</strong> Registration Successful. Please log-in to continue.
			</div>
			</div>
			</div>
			
			<div class="row">
				<div class="col-lg-5">
 			<div class="alert alert-danger" role="alert" ng-show = "loger">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
    				<span class="sr-only">Close</span>
  				</button>
  				<strong>Error..</strong> <span style="color:black">Invalid Username or Password. Please Enter valid Role.</span>
			</div>
		</div>
	</div>
	
	<div class="row">
			<div class="col-lg-5">
				<div class="alert alert-success" role="alert" ng-show = "psswdsent">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
   						<span aria-hidden="true">&times;</span>
   						<span class="sr-only">Close</span>
 					</button>
 						<strong>Success!</strong> Your password has been sent to your email.
				</div>
			</div>
	</div>		

			<div class="row">
				<div class="col-lg-5">
					<div class="alert alert-danger" role="alert" ng-show = "Error">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
   							 <span aria-hidden="true">&times;</span>
   					 		 <span class="sr-only">Close</span>
 				    	</button>
 						<strong>Can't Log-in......</strong> This user is already logged in.
					</div>
				</div>
			</div>
	</div>
 
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  >
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
      			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
      			</button>
        		<h4 class="modal-title" id="myModalLabel">User Registration</h4>
      		</div>
      		<div class="modal-body">
      			<form  id="registerForm" name="myForm" data-ng-submit="submit()" class="form-signup" >
        			<h3 class="form-signup-heading"><span style="color:black">Please Enter your Details</span></h3>
       				<label path="email" for="inputUsername" class="sr-only">Email address</label>
        			<input type="email" id="inputEmail" class="form-control" name="email" data-ng-model="email" placeholder="Email address" required autofocus />
					<br>
        			<label path="userName" for="inputUsername" class="sr-only">Username</label>
        			<input type="text" id="inputUsername" name="USERname" ng-change="checkUser()" class="form-control"  data-ng-model="userName" ng-pattern="/^[A-Za-z0-9_]{6,10}$/" placeholder="Username" required />
        			<span ng-show="myForm.USERname.$error.pattern"><span style="color:red">Username must contain minimum 6 characters  </span></span>
        			<span ng-show="!invalidUser" > <span style="color:red">Username already exists</span></span>
       					 		<br>
   					<label path="password" for="inputPassword" class="sr-only">Password</label>
       				<input type="password" id="inputPassword1"   name="Password" class="form-control"  data-ng-model="passwordd" ng-pattern="/^[A-Za-z0-9_+@&$#!^%*-]{6,10}$/"  placeholder="Password" required />
       				<span ng-show="myForm.Password.$error.pattern"><span style="color:red">Must contain minimum 6 characters</span></span>
       				
   					 <br>
     				<label path="confirmPassword" for="inputPassword" class="sr-only">Confirm Password</label>
     				<input type="password" id="inputPassword" class="form-control" ng-change="doPwdMatch()" name="password" data-ng-model="password2"  placeholder="Confirm Password" required />
       			 	<span ng-show="pwdDonotMatch"> <span style="color:red">Passwords don't match.</span> </span>
     				<br>
       				<button type="submit" ng-disabled="myForm.USERname.$error.pattern"  class="btn btn-sm btn-primary" >Register</button>
      			</form>
     		</div> 
		</div>
	</div>
</div>

<div class="modal fade" id="urModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  >
 	<div class="modal-dialog" role="document">
   		<div class="modal-content">
    		<div class="modal-header">
       			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
      		</div>
     		<div class="modal-body">
     			<form data-ng-submit="forgot()" id="registerForm" class="form-signup"  >
      				<h2 class="form-signup-heading"><span style="color:blue">Please Enter Required Details</span></h2> 
       					<h6>Password will be sent to your Email Box</h6>
       						<label path="email" for="inputUsername" class="sr-only">Email address</label>
       						<input type="text" id="userName" class="form-control" name="userName" data-ng-model="userName" placeholder="User Name" required autofocus /> <br>
       						
       						<input type="email" id="inputEmail" class="form-control" name="email" data-ng-model="email1" placeholder="Email address" required autofocus />
       						<span ng-show="invalidUserName"><span style="color:red">Invalid Username or Email</span></span>  <br>
					<button type="submit" class="btn btn-sm btn-primary" >Submit</button>
     			</form>
     		</div> 
 		</div>
	</div>
</div>	


  

