
<div class="container">
	<br><div class="row">
			<div class="col-lg-6"> 
				<div class="panel panel-default">
						<div class="panel-heading"><span style="color:red">WELCOME &nbsp; </span>{{detailsforuser[0].fullName | uppercase}}</div>
				</div>
			</div>
		</div>
</div>		
						
<div class="container">				
	<div class="row">
		<div class="col-lg-6"> 
			<div class="padding">
		<table class="table table-hover" border="2" >
		 		<thead>
		 			<tr>
		 				<th bgcolor="#FF8566">Id</th>
		 	 			<th bgcolor="#FF8566">ServiceId</th>
      			 		<th bgcolor="#FF8566">ServiceName</th>
      					<th bgcolor="#FF8566">Status</th>
      					<th bgcolor="#FF8566"></th>
      				</tr>
		 		</thead>
		 						
				<tbody>
		 			<tr data-ng-repeat="detail in detailsforuser">
		 				<td><B><span style="color:black">{{detail.id  }}</span></B> </td>
		 	 			<td><span style="color:black"><B>{{detail.serviceType.serviceId}}</B></span></td>
		 	 			<td><span style="color:black"><B>{{detail.serviceType.serviceName}}</B></span></td>
		 	 			<td><span style="color:blue"><B>{{detail.status.status}}</B></span></td>
		 	 			<td><input type="button" class="btn btn-success" data-ng-click="viewdetails(detail.id)" value="View"></td>
				 	</tr> 
		 		</tbody>
			</table>
		</div>
		</div>
	</div>
</div>
<div class="container">

				<button type="button" id="close" class="btn btn-info" data-ng-click="AnotherService()" ><span style="color:#006600">Apply for new service</span></button> 
			
			</div><br>
