<style>
.container-fluid { 
  padding-left: 150px;
  padding-right: 10px;
}

div.padding{
 padding-right: 40px;
  padding-left: 1px;
		}

.panel{
 background-color: #FFFFE3;

} 

</style>

<div class="container">
	<br>
			<div class="col-lg-3">
				<div class="panel panel-default">
					<span style="color:blue">&nbsp;	HELLO</span> &nbsp;	<span style="color:red"> <B> {{res.fullName |  uppercase}} </B> </span>
				</div>
		</div>	
</div>

<div class="container-fluid">	
	<div class="row">
		<div class="col-lg-9">
			<div ui-layout-container size="33%"  >
				<div class="panel panel-primary">
					<div class="panel-heading"><h4>DETAILS ENTERED BY YOU</h4></div>
						<div class="panel-body">
							<form id="loginForm"  >
				 			<label for="name">FULL NAME</label>
				 				<span style="padding-left:50px">
				 		 			<B>-&nbsp;	{{res.fullName		 |  uppercase}} </B>
				 				</span><br>
				 		
				 		 	<label>FATHER'S NAME </label>
				 				 <span style="padding-left:18px">
				 					<B>	-&nbsp; {{res.fatherName 	 |  uppercase}}</B>
				 				 </span><br>
				 		
				 			 <label>GENDER 	</label>
				 	  			 <span style="padding-left:71px">
				 					<B>-&nbsp;	{{res.gender		 |  uppercase}} </B>
				 				 </span><br>
				 			
			 				<label>	NATIONALITY	</label>
			 	 				<span style="padding-left:39px">
				 					<B>-&nbsp;	{{res.nationality	 |  uppercase}}</B>
				 				</span><br>
				 			
				 			<label>	CONTACT NO	</label>
				 	 			<span style="padding-left:39px">
				 					<B>-&nbsp;	{{res.contactNumber  |  uppercase}} </B>
				 				</span><br>
				 	
				 			<label>	ADDRESS	</label>
				 				 <span style="padding-left:64px">
				 					<B>-&nbsp;	{{res.address 		 |  uppercase}} </B>
				 				</span><br>
				 		
				 			<label>	DOB		</label>
				 			 	<span style="padding-left:99px">
				 					<B>-&nbsp;	{{res.dateofbirth | date : 'MM-dd-yyyy'}} </B>
				 				</span><br>
				 				
				 			<label>	STATUS		</label>	
				 				<span style="padding-left:76px">
				 					<B>-&nbsp;	{{res.status.status |  uppercase}} </B>
				 				</span><br>
				 			
						</form>
					</div>
				 	<div class="panel-footer" ng-if="res.comment"><B>Comments:</B>&nbsp;{{res.comment}}</div>
				</div>
			</div>
		</div> 
	</div>	
</div>
	
<div class="container">
	<div class="col-lg-9">
	<div class="padding">
	<div class="panel panel-primary">
		<div class="panel-heading"><h4>DOCUMENTS</h4></div>
   <table >
  		<tbody>
  			<tr> 
  				<td  ng-repeat="pdfs in doc">
  				
  		 			<iframe src="{{pdfs.docPath}}" width="390" height="500"></iframe>
  				</td>
 		 	</tr>
  		</tbody>
  	</table> 
  	</div>
  	</div>
  	
  	
  	<div class="col-lg-2">
				<button type="button" id="close" class="btn btn-success" data-ng-click="Back()" ><span style="color:#006600">Back</span></button> 
			</div>
			</div>
			</div>
  	<br><br><br>
  	

		 

	 
	 

